C:\Proyectos\GestionMedica\IndicacionesMedicas\.vs
.vs/IndicacionesMedicas/v15/sqlite3/storage.ide-shm
.vs/IndicacionesMedicas/v15/sqlite3/db.lock
.vs/IndicacionesMedicas/v15/Server/sqlite3/db.lock
Principal/obj/Debug/build.force
.vs/IndicacionesMedicas/v15/sqlite3/storage.ide
.vs/IndicacionesMedicas/v15/Server/sqlite3/storage.ide
.vs/IndicacionesMedicas/v15/sqlite3/storage.ide-wal
.vs/IndicacionesMedicas/v15/Server/sqlite3/storage.ide-shm
.vs/IndicacionesMedicas/v15/Server/sqlite3/storage.ide-wal
